<mat-nav-list>
  <div class="logo py-4">
    <img src="../../../assets/images/0c629e70-f2a9-4d8c-8fb9-e595a1d7b-10.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item  routerLinkA="/home">
    <mat-icon></mat-icon> Home
  </a>
  <a mat-list-item  routerLink="/dashboard">
    <mat-icon></mat-icon> Dashboard
  </a>
  <a  mat-list-item routerLink="/students">  <mat-icon></mat-icon> student</a>
  <a mat-list-item routerLink="/enseigants"> <mat-icon></mat-icon> Enseigants</a>
  <a mat-list-item routerLink="/cours"> <mat-icon></mat-icon> Cour</a>
  <a mat-list-item  routerLink="/timetable"> <mat-icon></mat-icon> Timetable</a>
</mat-nav-list>