<app-add-students></app-add-students>
<h3 class="mt-4">Liste de students</h3>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Date de naissance</th>
      <th>Matière</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
      <td>{{ student.dateOfBirth }}</td>
      <td>
        <img *ngIf="student.imageBase64" [src]="student.imageBase64" class="list-image"
             width="60" height="60" style="object-fit: cover; border-radius: 5px;">
      </td>
      <td>
        
        <button class="btn btn-warning btn-sm" (click)="editStudent(student)">Modifier</button>
        <button (click)="deleteStudent(student.id!)">Supprimer</button>

      </td>
    </tr>
  </tbody>
</table>
